<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">    
    <head  th:replace="fragments/headTag :: headTag">
        <title/>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>


        <div class="container" >            

            <h2>Camper</h2>
            <p class="error" th:each="message : ${messages}" th:text="${message}"></p>
            <form th:object="${camper}" action="addSubmit.html" th:action="@{/camper/addSubmit}" method="get" class="form-horizontal">
                <input type="hidden" th:field="${camper.id}"/>

                
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>First Name</th>
                            <td><input type="text" name="firstName" th:value="${camper.firstName}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td><input type="text" name="lastName" th:value="${camper.lastName}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>DOB</th>
                            <td><input type="text" th:field="${camper.dob}" maxlength="100"/>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>