<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">    
    <head  th:replace="fragments/headTag :: headTag">
        <title/>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>


        <div class="container" >            

            <h2>New Player</h2>
            <p class="error" th:each="message : ${messages}" th:text="${message}"></p>
            <form th:object="${player}" action="addSubmit.html" th:action="@{/player/addSubmit}" method="get" class="form-horizontal">
                <input type="hidden" th:field="${player.id}"/>
                <fieldset>
                    
                    <!--  refactored for player October 27, 2017 fgotell  -->
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <td><input type="text" name="name" th:value="${player.name}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Parent Name</th>
                            <td><input type="text" name="parentName" th:value="${player.parentName}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td><input type="text" name="phoneNumber" th:value="${player.phoneNumber}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Email Address</th>
                            <td><input type="text" name="emailAddress" th:value="${player.emailAddress}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Amount Paid</th>
                            <td><input type="number" name="amountPaid" th:value="${player.amountPaid}" maxlength="100" step=".01"/>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>

        </div>

    </body>

</html>