<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Players of Squash</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${person}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <div class="container" >

                    <div class="container" >            
                        <h2>The Players</h2>
                        <!--<a class="btn btn-primary btn-lg" th:href="@{/player/add}" th:text="Add" ></a>-->
                        <table class="table table-striped">
                            <!--  refactored for player October 27, 2017 fgotell  -->
                            <thead>
                                <tr>
                                    <th style="width: 25px;">id</th>
                                    <th style="width: 75px;">Name</th>
                                    <th style="width: 75px;">Parent Name</th>
                                    <th style="width: 50px;">Phone Number</th>
                                    <th style="width: 75px;">Email Address</th>  
                                    <th style="width: 70px;">Amount Paid</th>  
                                    <th style="width: 50px;"></th>  
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="player : ${players}">

                                    <td th:text="${player.id}"></td>
                                    <td th:text="${player.name}"></td>
                                    <td th:text="${player.parentName }"></td>
                                    <td th:text="${player.phoneNumber}"></td>
                                    <td th:text="${player.emailAddress}"></td>
                                    
                                    <!--https://stackoverflow.com/questions/14160304/how-to-format-the-currency-in-html5-with-thymeleaf/30223345-->
                                    <td> $<span th:text="${#numbers.formatDecimal(player.amountPaid, 0, 'DEFAULT', 2, 'DEFAULT')}"></span> </td>
                                    <td><a class="btn btn-primary btn-sm" th:href="@{/player/edit(id=${player.id})}" th:text="Edit" ></a>
                                        <a class="btn btn-primary btn-sm" th:href="@{/player/delete(id=${player.id})}" th:text="Delete" ></a></td>                                        

                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total Collected</b></td>
                                    <td> $<span th:text="${totalFees}"></span> </td>                                    
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>