<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${person}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <div class="container" >

                    <div class="container" >            
                        <h2>Campers</h2>
                        <a class="btn btn-primary btn-lg" th:href="@{/camper/add}" th:text="Add" ></a>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">id</th>
                                    <th style="width: 150px;">First Name</th>
                                    <th style="width: 150px;">Last Name</th>
                                    <th style="width: 150px;">DOB</th>
                                    <th style="width: 150px;"></th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="camper : ${campers}">

                                    <td th:text="${camper.id}"></td>
                                    <td th:text="${camper.firstName }"></td>
                                    <td th:text="${camper.lastName }"></td>
                                    <td th:text="${camper.dob}"></td>
                                    <td><a class="btn btn-primary btn-lg" th:href="@{/camper/edit(id=${camper.id})}" th:text="Edit" ></a>
                                        <a class="btn btn-primary btn-lg" th:href="@{/camper/delete(id=${camper.id})}" th:text="Delete" ></a></td>

                                </tr>
                            </tbody>
                        </table>    
                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>