.container {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
    background-color: pink;

}

.container-images {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
    float: left;
    display: block;
}

.nospace {
    font-size: 0;
}

.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
    margin-right: 10px;
}

.navbar .nav > li > a {
    color: #000000;
}

.form-horizontal .control-label {
    text-align: left;
}

.cisis {
    /*    background-color: #3fd700;*/
    background-color: #96b5e8;
    border-radius:5px;
    vertical-align: middle;    
}

.error {
    color: red; font-weight: bold;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

table {
    border-collapse: collapse;
}

tr {
    tr:hover {background-color: #f5f5f5};
}

table, th, td {
    border: 1px solid black;
    padding: 1em;
}

.holeSelect {
    width: 6em;
    text-align: center;
}
.cislabel {
    text-align: center;
    margin-top: 20dip;
}

.ciskey {
    font-size: 1.5em;
    color: 0857e0;
}
.ciskeylarge {
    font-size: 2.5em;
    color: 0857e0;
}
.ciskeydiv {
    background: #ccd7ea;
}

.cis-big-button {
    width: 100%;
    height: 5em;
    
}

.cis-select-no-entry {
    background-color: #ccd7ea;
}


body {
    /*background-color: #ccd7ea !important;*/
    background-color: pink !important;
}
div {
    background-color: #ccd7ea;
}
select option:selected {
  background-color: yellow !important;
} 
