<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
          
    <head><title></title></head>
    <body>
        <div class="cisis" ><p class="text-right" th:text="#{application.name}"></p>
        </div>
    </body>
</html>